.navbar_container-wrapper {
  background: transparent;

  position: absolute;
  left: 0;
  right: 0;
  padding: 2em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.navbar_container {
  height: 12svh;
  width: 100%;
  background: #00000050;
  /* background: linear-gradient(to bottom, #00000072, #00000000); */
  padding: 1.2em;
  border-radius: 1.2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
}

.navbar_container-submenu {
  display: flex;
  transition: 0.5s;
  margin-bottom: 1rem;
}

.navbar_container-link {
  flex: 1;
  margin-top: 1rem;
}

.menu-btn {
  position: absolute;
  top: 4rem;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &:hover {
    /* transform: scale(1.1); */
    color: #fff;
  }
}

.open {
  height: 32svh;
}

@media screen and (max-width: 1020px) {
  .navbar_container {
    width: 90%;
    padding: 0.8em;
  }

  .navbar_container a {
    font-size: 0.8em;
  }

  .menu-btn {
    transform: scale(0.9);
    &:hover {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 560px) {
  .navbar_container-wrapper {
    padding: 0em;
  }
  .navbar_container {
    width: 100%;
    padding: 0em;
    border-radius: 0em;
    min-height: 10svh;
  }

  .navbar_container a {
    font-size: 0.6em;
  }

  .menu-btn {
    transform: scale(0.6);
    &:hover {
      transform: scale(0.7);
    }
  }
}
