#root {
  margin: 0;
  padding: 0;
  text-align: center;

  width: 100%;
  min-height: 100svh;
}

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-evenly-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.center-around-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}

.center-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center-end-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.center-end-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.center-start-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
