.background_logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
}

.background_logo-logo {
  background-image: url("../../assets/images/logga-medium_nobg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 100svh;
  max-width: 30%;

  flex: 1;
  margin: 0 6rem;
}
